body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 25px;
  font-size: 25px;
  color: #eeeeee;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.Mobile {
  display: none;
}

.back-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 50px;
  font-size: 25px;
  padding: 35px;
  border: 1px solid black;
  border-radius: 50px;
  transition: all 0.2s;
  text-decoration: none;
  color: #fef2bf;
}

.back-btn:hover {
  background-color: #fef2bf;
  color: #011f3f;
}

@media screen and (max-width: 980px) {
  h1 {
    display: none;
  }
  .container {
    display: none;
  }
  footer {
    font-size: 50px;
  }
  .Mobile {
    display: block;
    position: relative;
    font-size: 75px;
    top: 600px;
  }
  .back-btn {
    display: none;
  }
}
